{% extends "base.html" %}

{% block content %}

  <div class="row justify-content-center">
    <h1 class="text-center mb-4">About this Course</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <p>
        Hey y'all, welcome to my financial literacy course! In today's world, it's important to understand how to manage your finances. The goal of this project was to create a financial literacy course for high school students to help them understand and motivate them to get started on their financial journey while they're young. I hope to empower you with some tools and insights you may need to get yourself started with making informed financial decisions.
      </p>
      <p>
        Throughout this course, you will delve into various aspects of personal finance, including budgeting, saving, investing, and managing debt. We'll cover fundamental concepts such as understanding financial statements, navigating different types of loans, exploring investment options, and planning for retirement.
      </p>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col">
      <a href="{{ url_for('index') }}" class="btn">
        Back to Home
      </a>
    </div>
  </div>
{% endblock content %}
