<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>
        {% block title %}
          {% if title %}
            {{ title }} -
          {% endif %}
          Blake's Capstone Project
        {% endblock title %}
      </title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- favicons -->
      <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon.ico' ) }}" sizes="any">
      <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
      <link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.webmanifest') }}">

      {% block styles %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;1000&family=Montserrat+Alternates&display=swap"
          rel="stylesheet">
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css', u=last_updated) }}">
      {% endblock styles %}

      <script async src="{{ url_for('static', filename='js/menu.js') }}"></script>
    {% endblock head %}
  </head>
  <body>
    <div class="content">
      {% block navbar %}
        
        {% include "_header-base.html" %}
        
        {% block alerts %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="message {{ category }}" role="message">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% if form %}
            {% for field, errors in form.errors.items() %}
              <div class="message error">{{ errors[0] }}</div>
            {% endfor %}
          {% endif %}
        {% endblock alerts %}
      {% endblock navbar %}

      {% block container %}
        <div class="row title-margin justify-content-center">
          <div class="col-11 col-sm-10 col-lg-8">

            {% block content %}{% endblock content %}

          </div>
        </div>
      {% endblock container %}
    </div>

    {% block footer %}
      <footer class="footer row pb-4 pt-3 justify-content-center align-content-between
      align-items-end inverse text-center">
        <div class="col-11 col-md-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0
                  1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13
                  2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728
                  8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1
                  11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg>
                <a class="white" href="mailto:{{ email }}" target="_blank">{{ email }}</a>
        </div>
        <!-- <div class="d-none d-md-block col-11 col-md-7 text-md-end mt-2">
        </div> -->
      </footer>
    {% endblock footer %}

    {% block end_scripts %}{% endblock end_scripts %}
  </body>
</html>
