{% extends "base.html" %}

{% block navbar %}{% endblock navbar %}

{% block container %}
  <div id="home-1" class="inverse text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="row justify-content-center message {{ category }}">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="message">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="row justify-content-center g-0">
      <div class="col-11 col-md-10">
        <div class="row justify-content-center justify-content-md-end">
          <div class="home-nav col-6 col-sm-4 col-md-4 col-lg-3">
            <div><a href="#home" data-text="home">home</a></div>
            <div><a href="{{ url_for('about') }}" data-text="about">about</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col-11 col-sm-12">
        <img id="home-logo" class="img-fluid"
          src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
        <h1 id="home-title">Financial Literacy Course</h1>
        <h1 id="home-tagline">Blake's Senior Capstone Project!</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-11">
        <a href="#intro" class="cta btn">
          Start Now
        </a>
      </div>
    </div>
  </div>

  {% include "_header-index.html" %}

  <div id="intro" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">Intro to Financial Literacy</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/-E4M5apbRdc?si=yrAaOkd3ixYnlAJg" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="home-next">
          <a href="#budgeting">
            <h4>
              The Basics of Budgeting
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div id="budgeting" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">The Basics of Budgeting</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/UsG-noTPwCE?si=x2HQPTohb7LCLazA" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="home-next">
          <a href="#debt">
            <h4>
              The Importance of Avoiding Debt
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div id="debt" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">The Importance of Avoiding Debt</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/GNZexLoSFXU?si=qbi1Ix49m7yhqW-k" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="home-next">
          <a href="#credit-cards">
            <h4>
              Credit & Debit Cards
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div id="credit-cards" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">Credit & Debit Cards</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/DZaDkv6DkWk?si=rtvyq4sJAjvxJuWh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="home-next">
          <a href="#interest-rates">
            <h4>Interest Rates & Loans</h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div id="interest-rates" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">Interest Rates & Loans</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/YDRsvIuA0fI?si=DYvVVFcOA2EGsyeB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="home-next">
          <a href="#student-loans">
            <h4>What are Student Loans?</h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div id="student-loans" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">What are Student Loans?</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/oWVgx7m-ppM?si=C9eFMOR3n96CYIaG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="home-next">
          <a href="#retirement">
            <h4>Planning for Retirement</h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div id="retirement" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">Planning for Retirement</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/inOfo7veDBo?si=QO7F84dK5-8q13tP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="home-next">
          <a href="#conclusion">
            <h4>Conclusion</h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div id="conclusion" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h1 class="mb-4">Conclusion</h1>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/inOfo7veDBo?si=QO7F84dK5-8q13tP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
{% endblock container %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
  <script>
    zenscroll.setup(null, 0);
  </script>

  <script>
    function onSubmit(token) {
     document.getElementById("inquiry-form").submit();
    }
  </script>
{% endblock end_scripts %}
